# Object files
*.o

# Executable:
src/stringmol
src/stringmol_dbg
src/smspatial
src/smspatial_dbg
*.cgi
debug/stringmol
release/stringmol

# gedit backups
*~

#Eclipse stuff:
.project
.cproject
.settings/language.settings.xml
src/.settings
src/.settings/**
src/.cproject

#Doxygen stuff: 
docs/**/*

#Test stuff: 
tests/test

#Profiling stuff..? 
src/gmon.out

#stringmol outputs
release/RNGstate*.txt
release/popdy*.dat
release/*.conf

debug/RNGstate*.txt
debug/popdy*.dat

src/*.png
src/RNGstate*.txt
src/*.dat
src/*.conf
